#文件路径
###########解析excel路径
#本地
#target: D:\00-2021-mdb\testXls1000\
#服务器
target: //usr//local//testxls//

###########解析MDB路径
#本地
#target: D:\\00-2021-mdb\\test1000\\
#服务器
targetMDB: //usr//local//testmdb//


server:
  port: 8080

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName:
#    url: jdbc:oracle:thin:@localhost:1521:orcl
#    username: opension
#    password: opension

#远程云服务器

    url: jdbc:oracle:thin:@localhost:1521/orcl
    username: pension_test3
    password: pension_test3

    initialSize: 1
    minIdle: 3
    maxActive: 20
    # 配置获取连接等待超时的时间
    maxWait: 60000
    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    timeBetweenEvictionRunsMillis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    minEvictableIdleTimeMillis: 30000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    # 打开PSCache，并且指定每个连接上PSCache的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    # 合并多个DruidDataSource的监控数据
    #useGlobalDataSourceStat: true
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update

logging:
  level:
    com.tj.resolvedemo.test: INFO



mybatis:
  mapper-locations: classpath:/mappers/*.xml